In [13]:
import sqlite3
import pandas as pd
import sys

In [20]:
%ls

Procfile*  database操作.ipynb*  media/   python-getting-started/
album/     db.sqlite3*          myenv2/  requirements.txt*
blog/      manage.py*           mysite/  runtime.txt*

In [21]:
dbname = "db.sqlite3"
conn = sqlite3.connect(dbname)
cur = conn.cursor()

In [22]:
#SQL命令文（データベース中のテーブル名を取得する）
sql = """SELECT name FROM sqlite_master WHERE TYPE='table'"""

#命令を実行してテーブル名を取得
for t in cur.execute(sql):
    print(t)

('django_migrations',)
('sqlite_sequence',)
('auth_group_permissions',)
('auth_user_groups',)
('auth_user_user_permissions',)
('django_admin_log',)
('django_content_type',)
('auth_permission',)
('auth_user',)
('auth_group',)
('django_session',)
('blog_post',)
('blog_comment',)
('album_image',)

In [23]:
df = pd.read_sql('SELECT * FROM blog_post', conn)
df

,id,title,text,comment,created_date,published_date,author_id
0,8,走ってきた,風が強かった,夜は、セミナー,2021-03-03 06:56:03.305656,2021-03-05 08:11:51.420284,1
1,9,2021-3-6,カリセさん花粉症らしい,みえこちゃんは具合が悪い,2021-03-05 13:47:40.454831,2021-03-06 13:09:42.967186,1
2,17,寿町でセミナー,寿町でセミナー,11時ごろ出かけよう\r\nちょっと、早すぎ、有隣堂から回った見た。,2021-03-07 01:49:48.805533,2021-03-07 01:49:52.396729,1
3,23,寿町,いってみた,行った,2021-03-08 07:38:17.130198,2021-03-08 07:38:33.883706,1